<div class="content">
  <h1>Hello! Welcome to my notes.</h1>
  <p>
    I created this space to allow notes and ideas spanning my several areas of interest
    to collide and generate new insights. I'm not sure it'll work, but I felt it was worth a try.
  </p>
  <p>
    I use this space as a combination of my developer log (devlog) and digital commonplace book.
  </p>
  <p>
    I am also trying to move away from <a href="https://ravimashru.dev/blog/">traditional blogging</a> to
    digital gardening in this space. The motivation for doing so is to allow myself to publish incrementally
    and more consistently without having to worry about a final polished product.
  </p>
  <p>
  There is no structure to the notes here, so feel free to start exploring from one of these links:
  <ul>
  <li><a href="dates">All notes in chronological order</a></li>
  <li><a href="tags">All notes grouped by tags</a></li>
  <li><a href="tags/#devlog">My devlog entries/TIL notes</a></li>
  <li><a href="tags/#cheatsheet">My cheatsheets</a></li>
  {% comment %} TODO: <li>A list of notes that I'm currently focusing on (top of mind)</li> {% endcomment %}
  {% comment %} TODO: <li>Book notes</li> {% endcomment %}
  </ul>
</p>
</div>
